/* Etusivun CSS-koodi */
header {
    text-align: center;
    padding-top: 35px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(74, 53, 107);
    color: rgb(254, 255, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.nav {
    background-color: rgb(22, 21, 21);
    padding: 10px 0; /* Lisätty padding */
}

/* Päävalikko */
.nav a {
    background: rgb(196, 174, 230);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 107, 19);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(206, 12, 106);
    font-size: 15px;
}

.nav a:hover {
    color: aquamarine;
    background-color: rgb(42, 61, 165);
}
.valittu a {
    color: aqua;
    background-color: antiquewhite;

}

/* Taustakuva */
.taustakuva {
    width: 100%; /* Muutettu koko leveydelle */
    height: auto; /* Automaattinen korkeus */
    text-align: center;
    margin-bottom: 20px;
}

.box-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px; /* Lisätty reunus pyöristämiseksi */
}

/* Teksti */
h1 {
    color: rgb(3, 30, 54);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
}

h2 {
    color: rgb(54, 3, 54);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(225, 68, 176, 0.8);
}

.cta-button {
    display: block; 
    width: 10%;
    padding: 10px 20px;
    background-color: #ff00c8;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 10px;
}

.cta-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.cta-button2 {
    display: block; 
    width: 10%;
    padding: 10px 20px;
    background-color: #ff00c8;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 10px;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
}

.nav a {
    text-decoration: none;
    margin-right: 20px;
}
.container {
    max-width: 600px; /* Oletusleveys */
    margin: 0 auto; /* Keskitä container-div sivulla */
}

/* Media query mobiililaitteille */
@media (min-width: 768px) {
    .container {
        max-width: 1200px; /* Leveys desktop-näytöille */
    }
}

.tuote {
    flex: 0 0 calc(30% - 20px); /* Kolme tuotetta vierekkäin, jokaisen marginaalin kanssa */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.tuote img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.tuote h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.tuote ul {
    padding: 0;
    margin: 10px 0;
}

.tuote li {
    list-style-type: none;
    margin-bottom: 5px;
}

.tuote button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tuote button:hover {
    background-color: #0056b3;
}



/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #6a5acd; /* Liila taustaväri */
    color: #fff; /* Valkoinen fonttiväri */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav {
    text-align: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav a:hover {
    text-decoration: underline;
}
.nav a:active{
    color: aliceblue;
}
.contact, .contact-info, .opening-hours {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center; /* Keskitetään teksti */
    color: #333; /* Musta fonttiväri */
}

.contact h1, .contact-info h2, .opening-hours h2 {
    color: #333;
    margin-bottom: 10px;
}

.contact p, .contact-info p, .opening-hours p {
    margin-bottom: 10px;
}

.contact-info p {
    font-weight: bold;
}

.contact-info a {
    color: #007bff;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info span {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #6a5acd;
    color: #fff;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav {
    text-align: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav a:hover {
    text-decoration: underline;
}

/* Tuotteet */
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tuote {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #333;
}

.tuote img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.tuote h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.tuote ul {
    list-style: none;
    padding: 0;
}

.tuote ul li {
    margin-bottom: 5px;
}

.tuote p {
    margin-bottom: 10px;
}

.tuote .card {
    margin-top: 20px;
}

