/*tällä tavoinn laitetaan kommentti*/

body {
    background-color: bisque;
    color: blue;
}
.nav {
    padding: 14px 14px;
    background-color: bisque;
    float: right;
} 
.nav a { 
    display: inline-block;
    font-size: 18px;
    padding-inline-start: 10px;
    text-align: center;
    text-decoration: none;
    background: rgb(196, 174, 230);

}
.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    padding: 10px;
  }
  #progressBar {
    height: 10px;
    background-color: green;
    width: 0%;
  }