/* Etusivun CSS-koodi */
header {
    text-align: center;
    padding-top: 35px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(74, 53, 107);
    color: rgb(254, 255, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.nav {
    background-color: rgb(22, 21, 21);
    padding: 10px 0; /* Lisätty padding */
}

/* Päävalikko */
.nav a {
    background: rgb(196, 174, 230);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 107, 19);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(206, 12, 106);
    font-size: 15px;
}

.nav a:hover {
    color: aquamarine;
    background-color: rgb(42, 61, 165);
}

/* Taustakuva */
.taustakuva {
    width: 100%; /* Muutettu koko leveydelle */
    height: auto; /* Automaattinen korkeus */
    text-align: center;
    margin-bottom: 20px;
}

.box-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px; /* Lisätty reunus pyöristämiseksi */
}

/* Teksti */
h1 {
    color: rgb(3, 30, 54);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
}

h2 {
    color: rgb(54, 3, 54);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(225, 68, 176, 0.8);
}

.cta-button {
    display: block; 
    width: 10%;
    padding: 10px 20px;
    background-color: #ff00c8;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 10px;
}

.cta-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.cta-button2 {
    display: block; 
    width: 10%;
    padding: 10px 20px;
    background-color: #ff00c8;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 10px;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.tuote {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.tuote img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}

.tuote h2 {
    font-size: 24px;
    margin: 0;
}

.tuote p {
    color: #666;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
